.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding: 20px;
}

.checkoutProduct__info .actions-container > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #846a29;
  color: #111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.actions-container {
  display: flex;
  align-items: center;
}
.item-quantity select {
  background-color: #f0f2f2;
  padding: 3px;
  box-shadow: 0px 2px 5px 0px rgba(15, 17, 17, 0.15);
  border-radius: 4px;
  margin-right: 10px;
}
